<html>
    <head>
        <title>
            <%=locals.title%>

        </title>
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book" id="icon"></i>
            My Contact List
        </h1>
        <ul>
            <% for (let i of contact_list){%>
            <li id="phone-section">
                <div class="all-in">
                <p><%=i.name %></p>
                <p><%=i.phone %></p>  
            </div>
            <div class="delete-contact">
               <a href="/delete-contact/?id=<%= i._id%>">
                   <i class="fas fa-window-close"></i>
                   </a>
            </div>
            </li>
            <%}%>
        </ul>
            <form id="form-section" action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="Enter Name">
                <input type="number" name="phone" placeholder="Enter Phone Number">
                <button type="submit">Add Contact</button>
            </form>
            <script type="text/javascript" href="/css/js/home.js"></script>
    </body>
</html>